@model project.Models.items

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "~/Views/Shared/layoutMaster.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">




<div class="row">
    <div class="col-md-4" style="max-width:600px; margin:auto;  background-color: rgba(255, 255, 255, 0.7);">
        <h1 class="text-center">Edit</h1><hr />

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discount" class="control-label"></label>
                <div class="checkbox">
                    <label> <input type="radio" asp-for="discount" value="yes" /> yes</label>
                </div>
                <div class="checkbox">
                    <label> <input type="radio" asp-for="discount" value="no" />No</label>
                </div>
                <span asp-validation-for="discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pubdate" class="control-label"></label>
                <input asp-for="pubdate" class="form-control" />
                <span asp-validation-for="pubdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemquantity" class="control-label"></label>
                <input asp-for="itemquantity" class="form-control" />
                <span asp-validation-for="itemquantity" class="text-danger"></span>
            </div>
           
            <img src="~/images/@Model.imgfile" height="150" />
            <div class="form-group">
                file name:
                <input type="hidden" asp-for="imgfile" />
                @Model.imgfile
                <input type="file" class="form-control" name="file" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
