<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YummyHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project.styles.css" asp-append-version="true" />
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" href="#">
                <img src="~/images/logo.jpg.gif" alt="logo" style="width:100px;">
            </a>
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="usersaccounts" asp-action="customer_home">yummyHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="usersaccounts" asp-action="customer_home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="orders" asp-action="catalogueBuy">catalogue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="items" asp-action="Index">Item list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="orders" asp-action="myorder">My Purchase</a>
                        </li>
                        <!-- User Name Button -->
                        <li class="nav-item">
                            <button class="btn btn-secondary text-white px-3" type="button" style="position:absolute;left:90%">
                                @ViewData["name"]  <!-- Assuming user name is stored in ViewData -->
                            </button>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-danger text-white px-3" asp-area="" asp-controller="usersaccounts" asp-action="logout" style="position:absolute;left:95%">logout</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
        @RenderBody()
    </div>
</body>
</html>